boto3==1.26.142
botocore==1.29.142
haikunator==2.1.0
httpagentparser==1.9.5
hyperopt==0.2.7
joblib==1.2.0
matplotlib==3.7.1
numpy==1.23.4
pandas==2.0.1
prefect==2.10.11
pyarrow==12.0.0
fastparquet==2023.4.0
pyspark==3.4.0
pytest==7.3.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
shap==0.41.0
# torch==2.0.1
xgboost==1.7.5
wheel==0.40.0
uvicorn==0.22.0
python-multipart==0.0.6
fastapi